[Unit]
Description=Purple Rain 2-minute nowcast publish

[Timer]
OnCalendar=*-*-* *:00/2:00
RandomizedDelaySec=10
Persistent=true

[Install]
WantedBy=timers.target
